<head>
<title>puppy-bin</title>
<meta name="robots" content="noindex"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" />
<style>
    .dos {
        font-family: fixedsys, LucidaTerminal, 'Ubuntu Mono', monospace;
    }
    .dos, textarea, input, button {
        background: #1c1c1c;
    }
    .dos {
        color: #2f9912;
    }

    a {
        color: yellow;
        text-decoration: none;
    }
    .dump-content {
        padding: 1em;
        color: #e3e3e3;
    }
    textarea, input, button, select, .dump-content {
        background-color: #292929;
        border: none;
    }
    textarea, input, button, select {
        color: #e3e3e3;
        outline: none;
        font-size: inherit;
        font-family: inherit;
        padding: 0.2em 0.5em;
    }
    textarea {
        padding: 0.5em;
    }
    button {
        background: none;
        color: yellow;
        cursor: pointer;
    }
    button:disabled {
        color: grey;
        border-color: grey;
        cursor: default;
    }
    .message-box {
        margin-top: 1em;
    }
    .dump-password-form {
        margin-top: 1em;
    }
</style>
</head>
<body class="dos" style="margin: 1em">
<a style="position: relative; height: 100px; width: 100px; display: inline-block; float: left;" href="#"><?xml version="1.0" encoding="utf-8"?>
<svg style="position: absolute; display: block; top: -50px; left: -25px; height: 200px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 960 2000" style="enable-background:new 0 0 960 2000;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g>
	<path d="M482,1150.7c-40.2-0.4-79.1-7.6-116.4-22.8c-27.6-11.3-43.9-32.4-49.4-61.4c-5.2-27.6-9.6-55.4-14.4-83.1
		c-1.4-8.2-3.6-16.3-3.9-24.6c-0.8-19.3,8.5-34.5,21.8-47.6c16.2-15.9,35.8-26.6,56.8-34.4c71.5-26.4,142.9-26.8,214,1.3
		c23,9.1,43.9,21.6,59.6,41.5c13.1,16.7,16.5,35.2,12,56c-4.8,22.1-8.2,44.5-12.2,66.8c-1.9,10.6-3.3,21.4-6.1,31.8
		c-7,26.1-23.1,44.5-48.4,54.7C559.1,1143.6,521.2,1150.5,482,1150.7z M484.5,870.1c-37.5,0.5-71.6,6.3-104.4,19.1
		c-21.2,8.3-41.2,18.9-56.4,36.6c-9,10.5-14,22.5-12.8,36.7c1.3,15.1,7.9,27.7,17.9,38.7c12.4,13.6,27.9,22.5,44.5,29.7
		c2.6,1.1,5.2,3.6,6.6,6.1c4.5,8,9,16,12.4,24.5c3.2,8,8.8,12.1,16.5,15c29.9,11.2,60.8,14.4,92.4,11.4c18.2-1.7,35.9-5.7,52.3-13.9
		c3-1.5,5.9-4.4,7.5-7.3c5.1-9.1,9.4-18.7,14.4-27.9c1.1-2.1,3.4-3.9,5.6-4.9c9.5-4.7,19.6-8.4,28.8-13.6
		c13.7-7.7,25.1-18.1,33.2-31.8c12.9-21.8,11-44.6-5.5-63.8c-8.7-10.1-19.4-17.8-31-24.1C567.7,879.2,525.8,871,484.5,870.1z
		 M320,1011.4c0.2,1.8,0.2,3,0.4,4.1c2.8,16.2,5.5,32.5,8.5,48.7c4.5,24.2,17.6,42.3,40.5,51.4c73.6,29.2,147.6,30.2,221.6,1.2
		c22-8.6,35.6-25.3,41-48.2c2.6-11,4.1-22.3,6-33.4c1.3-7.6,2.6-15.2,4.2-24c-1.8,1.6-2.5,2.1-3.2,2.8c-10.5,10.2-22.2,19.2-35.9,24
		c-13.5,4.8-22.3,12.9-26.4,26.3c-4.6,14.9-15.7,22.3-29.8,26.5c-0.3,0.1-0.6,0.2-1,0.3c-29.3,10.3-59.5,12.4-90.2,9.4
		c-21.7-2.1-42.6-7.2-62.3-16.8c-3.9-1.9-6.7-4.4-8.6-8.5c-4.5-9.5-9.2-18.9-14.2-28c-1.4-2.5-3.9-5-6.5-6.2
		c-15.3-7-29.4-15.5-41.4-27.4C322,1012.9,321.2,1012.4,320,1011.4z"/>
	<path class="st0" d="M484.5,867.1c41.3,0.9,83.2,9.1,122,30.2c11.6,6.3,22.3,14,31,24.1c16.4,19.2,18.4,42,5.5,63.8
		c-8.1,13.7-19.5,24.1-33.2,31.8c-9.2,5.2-19.3,8.9-28.8,13.6c-2.2,1.1-4.5,2.9-5.6,4.9c-5,9.2-9.3,18.8-14.4,27.9
		c-1.6,2.9-4.5,5.8-7.5,7.3c-16.4,8.2-34.1,12.2-52.3,13.9c-31.6,3-62.4-0.1-92.4-11.4c-7.8-2.9-13.3-7.1-16.5-15
		c-3.4-8.5-7.9-16.5-12.4-24.5c-1.4-2.5-4-4.9-6.6-6.1c-16.7-7.2-32.2-16.1-44.5-29.7c-10-11-16.6-23.6-17.9-38.7
		c-1.2-14.2,3.8-26.2,12.8-36.7c15.2-17.7,35.2-28.2,56.4-36.6C412.8,873.4,447,867.6,484.5,867.1z M618.5,979.7
		c12.8-14.4,12.2-33.8-1.6-48.4c-10.5-11.1-23.6-18.5-37.5-24.2c-52.1-21.4-105.5-24.8-160.1-11.5c-22.1,5.4-43.6,12.7-62.2,26.1
		c-6.7,4.9-13,11.1-17.8,17.9c-8.2,11.7-5.5,30.4,4.4,39.8c21.6-18,45.6-22.1,71.9-12.2c3.1,1.2,4.7,0.3,6.8-1.9
		c32.5-34.2,85-34.1,117.5,0.2c2.2,2.4,3.9,2.3,6.8,1.6c8.2-2.1,16.5-4.5,24.8-5C589.4,961.2,605,968,618.5,979.7z M352.1,989.7
		c10.7,9.4,22.2,15.6,34.6,20.2c3.5,1.3,5.8,3.1,7.4,6.6c5.3,11.3,10.8,22.5,16.4,33.6c0.9,1.7,2.7,3.8,4.4,4.1
		c17.5,3.8,35,8.2,52.8,10.5c25.1,3.2,49.3-3.1,73.2-10.3c1.9-0.6,3.8-2.6,4.8-4.4c5.5-10.8,10.6-21.8,16.2-32.7
		c0.9-1.8,3-3.4,4.9-4.3c7.6-3.4,15.6-5.9,22.9-9.7c7-3.6,13.4-8.4,20.9-13.1c-23.8-20.4-47.8-17.8-72.2-4.9
		c-13.8-21.1-32.9-32.1-57.6-32c-24.6,0.1-43.6,11.5-57.1,32.1C398.9,972.3,375.2,970.3,352.1,989.7z"/>
	<path class="st0" d="M320,1008.9c1.2,1,2,1.5,2.7,2.2c12,11.9,26.2,20.4,41.4,27.4c2.6,1.2,5.1,3.7,6.5,6.2c5,9.2,9.8,18.6,14.2,28
		c1.9,4,4.7,6.6,8.6,8.5c19.7,9.6,40.6,14.7,62.3,16.8c30.7,3,60.9,0.8,90.2-9.4c0.3-0.1,0.6-0.2,1-0.3
		c14.1-4.2,25.1-11.6,29.8-26.5c4.2-13.3,12.9-21.5,26.4-26.3c13.7-4.8,25.4-13.8,35.9-24c0.7-0.7,1.4-1.3,3.2-2.8
		c-1.5,8.9-2.9,16.5-4.2,24c-2,11.1-3.4,22.4-6,33.4c-5.4,22.9-19,39.6-41,48.2c-74,29-148,28-221.6-1.2
		c-22.9-9.1-36-27.2-40.5-51.4c-3-16.2-5.7-32.5-8.5-48.7C320.2,1011.8,320.2,1010.7,320,1008.9z"/>
	<path d="M618.5,979.7c-13.5-11.7-29-18.4-47-17.5c-8.4,0.4-16.7,2.9-24.8,5c-2.9,0.8-4.6,0.8-6.8-1.6
		c-32.5-34.3-84.9-34.4-117.5-0.2c-2.1,2.2-3.7,3-6.8,1.9c-26.3-9.9-50.3-5.8-71.9,12.2c-9.9-9.5-12.5-28.2-4.4-39.8
		c4.8-6.8,11.1-13,17.8-17.9c18.6-13.5,40.1-20.7,62.2-26.1c54.6-13.3,108-9.9,160.1,11.5c13.9,5.7,27,13.1,37.5,24.2
		C630.6,945.9,631.3,965.2,618.5,979.7z"/>
	<path d="M352.1,989.7c23.1-19.4,46.8-17.4,71.5-4.4c13.5-20.6,32.5-31.9,57.1-32.1c24.7-0.1,43.8,10.9,57.6,32
		c24.4-12.9,48.4-15.4,72.2,4.9c-7.5,4.8-13.9,9.5-20.9,13.1c-7.4,3.8-15.4,6.3-22.9,9.7c-1.9,0.8-3.9,2.5-4.9,4.3
		c-5.5,10.8-10.7,21.8-16.2,32.7c-0.9,1.8-2.9,3.9-4.8,4.4c-23.9,7.2-48.1,13.5-73.2,10.3c-17.8-2.3-35.2-6.7-52.8-10.5
		c-1.7-0.4-3.5-2.4-4.4-4.1c-5.6-11.1-11.2-22.3-16.4-33.6c-1.6-3.5-3.9-5.3-7.4-6.6C374.3,1005.3,362.8,999.1,352.1,989.7z"/>
</g>
</svg>
</a>
&nbsp;
<home></home>
<dump></dump>
<faq></faq>
<page404></page>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.6/sjcl.min.js" integrity="sha256-7VEzvbWjCTLLvO8urPO0gk1zqPsLAZVIADdKrwtBbWY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.2/riot.js" integrity="sha256-T7LwPaiksb1Z5pj4mToQi5ajPL1k0eWnmsGBhTsrZv0=" crossorigin="anonymous"></script>

<script type="text/template" id="tag_home_tpl">
<p><span style="font-weight: bold; color: red" if={data_error}>{ data_error }</span></p>
<form method="post" action="javascript:" id="dump-form">
    <p><textarea style="width: 100%; height: 50%" name="data" onkeyup="{ onFormChange }" onchange="{ onFormChange }"></textarea></p>
    <input style="display: none" type="text" name="iambot" value="" />
    <p>
        <label>password</label>
        <input type="text" name="password" onkeyup="{ onFormChange }" onchange="{ onFormChange }" autocomplete="off"></input>
        &nbsp;
        <label>expires in</label>
        <select name="timeout">
            <option value="">never</option>
            <option value="m10">10 minutes</option>
            <option value="h1">1 hour</option>
            <option value="d1">1 day</option>
            <option value="d7">1 week</option>
            <option value="d30">1 month</option>
        </select>
        &nbsp;
        <button id="submit" type="button" disabled onclick="{ submitForm }">Encrypt &amp; Submit</button>
    </p>
</form>
</script>

<script type="text/template" id="tag_dump_tpl">
<div class="message-box" if="{ error }">
    <div style="color: red">{ error }</div>
</div>
<div if="{ dump }">
    <div class="message-box">
        <div if="{ encrypted }">
            <span if="{ dump.expires_sec }">
            content expires in { formatExpires(dump.expires_sec) }
            </span>
        </div>
        <div if="{ runtimeError }" style="color: red">{ runtimeError }</div>
    </div>
    <pre id="dump-encrypted" style="display: none;">{ dump.data }</pre>
    <pre if="{ !encrypted }" class="dump-content" id="dump-content">{ content }</pre>
    <div class="dump-password-form" id="password-form" if="{ encrypted }">
        <form action="javascript:">
            password:
            <input type="text" name="password" autocomplete="off">
            <button type="button" onclick="{ decrypt }">decrypt</button>
        </form>
    </div>
</div>
</script>

<script type="text/template" id="tag_faq_tpl">
<pre>
--- [What is bin.so?]

bin.so is minimalistic paste bin service focused on security:

* Search engines are not allowed to crawl and index content of bin.so

* Uploaded content is assigned with uniq random URL

* Uploaded content is protected by password. Data is encrypted in the browser,
  then *already encrypted* data sends to the server.

* You can't read data even if you hack the server and read database directly

--- [Open source?]

Yep, <a href="http://github.com/lorien/sbin">github.com/lorien/sbin</a>

--- [Suggestions, bugreport, etc]

Send me email to <a href="mailto:lorien@lorien.name">lorien@lorien.name</a> or create <a href="http://github.com/lorien/sbin/issues">github issue</a>
</div>
</script>

<script type="text/template" id="tag_page404_tpl">
<h1>Requested URL is not found</h1>
</script>

<script>
function tag_home(opts) {
    this.submitForm = function() {
        var pwd = $('input[name="password"]').val();
        if (!pwd) {
            alert('Password is empty');
        } else {
            var data = $('textarea[name="data"]').val();
            if (!data) {
                alert('Data is empty');
            } else {
                var res = sjcl.encrypt(pwd, data, {mode: 'gcm', ts: 128});

                var encData = res;

                var args = {
                    data: encData,
                    iambot: $('input[name="iambot"]').val(),
                    timeout: $('select[name="timeout"]').val()
                }
                $.post('/api/dump', args, function(data) {
                    riot.route(data.dump_id);
                }, 'json');
            }
        }
    }

    this.onFormChange = function() {
        var data = $('textarea[name="data"]').val();
        var pwd = $('input[name="password"]').val();
        if (data && pwd) {
            $('button#submit').attr('disabled', false);
        } else {
            $('button#submit').attr('disabled', true);
        }
    }
};

function tag_dump(opts) {
    var self = this;
    $.get('/api/dump', {dump_id: opts.dump_id}, (data) => {
        console.log(data);
        if (data.error) {
            this.error = data.error;
        } else {
            this.dump = data.dump;
            this.encrypted = true;
        }
        this.update();
    }, 'json');

    this.formatExpires = function(sec) {
        var sec = Math.ceil(sec);
        var days = Math.floor(sec / (60 * 60 * 24));
        var sec = sec - days * (60 * 60 * 24);
        var hours = Math.floor(sec / (60 * 60));
        var sec = sec - hours * (60 * 60);
        var minutes = Math.floor(sec / 60);
        var sec = sec - minutes * 60;
        var res = '';
        if (days) {
            res += (days + ' days ');
        }
        if (hours) {
            res += (hours + ' hr ');
        }
        if (minutes) {
            res += (minutes + ' min ');
        }
        if (sec) {
            res += (sec + ' sec');
        }
        return res;
    }

    this.decrypt = function() {
        var pwd = $('input[name="password"]').val();
        if (pwd) {
            var data = $('#dump-encrypted').text();
            if (data[0] != '{') {
                // Backward-compatiliby with b64-encoded data
                var data = sjcl.codec.utf8String.fromBits(
                    sjcl.codec.base64.toBits(data));
            }
            self.runtimeError = false;
            try {
                this.content = sjcl.decrypt(pwd, data);
                self.encrypted = false;
            } catch(exc) {
                console.log(exc);
                self.runtimeError = 'Password is invalid';
            }
        }
    }
}

riot.tag('home', tag_home_tpl.innerHTML, tag_home);
riot.tag('dump', tag_dump_tpl.innerHTML, tag_dump);
riot.tag('faq', tag_faq_tpl.innerHTML, function(){});
riot.tag('page404', tag_page404_tpl.innerHTML, function(){});

mountedContentTag = null;

riot.route(function(part1, part2) {
    console.log('[route]: part1=' + part1 + ', part2=' + part2);
    if (mountedContentTag) {
        mountedContentTag.unmount(true);
    }
    if (!part1) {
        console.log('[route]: home');
        mountedContentTag = riot.mount('home')[0];
    } else if (part1 && !part2) {
        console.log('[route]: dump');
        mountedContentTag = riot.mount('dump', {dump_id: part1})[0];
    } else if (part1 == 'help' && part2 == 'faq') {
        console.log('[route]: faq');
        mountedContentTag = riot.mount('faq')[0];
    } else {
        console.log('[route]: page404');
        mountedContentTag = riot.mount('page404')[0];
    }
});

riot.route.start(true);
</script>
<script>
</script>
</body>
